GFLEET_BASE_URL=https://gfleet-api.mdi.id
GFLEET_USERNAME=your_username
GFLEET_PASSWORD=your_password
GFLEET_API_KEY=your_api_key

GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_CREDENTIALS_PATH=credentials.json
